<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="com.capstoneproject.SignUpAndLogin"/>
      <class name="com.capstoneproject.SearchAndAddCart"/>
      <class name="com.capstoneproject.AddBrandFromDepartment"/>
      <class name="com.capstoneproject.NavigateAndValidateTitles"/>
      <class name="com.capstoneproject.AddItemFromDepartment"/>
      <class name="com.capstoneproject.CheckOutAndPayment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
